<html>
   <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>WuLab at Columbia</title>
  </head>
<body>

{% capture name %}WuLab{% endcapture %}

{% capture goals %}
The future of industry relies on the ability to make data-driven decisions, however it is only accessible to technical and statistical experts that can program, clean and combine data, visualize large datasets, and  debug complex analysis pipelines.

The goal of the {{name}} is to dramatically accelerate the democratization of data, and to train high-quality, world-class researchers.
{% endcapture %}



{% capture join %}
We are always looking for hard-working, smart, driven students that are excited pushing forward how humans interact with data.   If you are a prospective graduate student or postdoc, [read our application document](http://eugenewu.net/apply.html).  If you are an undergraduate, masters, or potential intern, [please fill out our questionnaire](https://ewuuu.wufoo.com/forms/z1mh8vwi1q2p3tp/).
{% endcapture %}

{% capture contact %}
Email us at ewu@cs.columbia.edu
{% endcapture %}


<div class="row header" >
  <div class="col-md-2 offset-md-1 stitle logo">
    <!--<img src="{{ "./files/images/people/noimage.png" | relative_url}}" width=100/>-->
  </div>
  <div class="col-md-7">
    <h1>{{name}}<br/>Columbia University</h1>
  </div>
</div>

<div class="row body" >
  <div class="col-md-2 offset-md-2 stitle">goals</div>
  <div class="col-md-7">{{ goals | markdownify }}</div>
</div>

<div class="row body" >
  <div class="col-md-2 offset-md-2 stitle">projects</div>
  <div class="col-md-7">{{ content | markdownify }}</div>
</div>



<div class="row body" >
  <div class="col-md-2 offset-md-2 stitle">join</div>
  <div class="col-md-7">{{ join | markdownify }}</div>
</div>

<div class="row body" >
  <div class="col-md-2 offset-md-2 stitle">contact</div>
  <div class="col-md-7">{{ contact | markdownify }}</div>
</div>


<div class="row body" >
  <div class="col-md-2 offset-md-2 stitle">people</div>
  <div class="col-md-7">
    {% include people.html people=site.data.people.current %}
    <strong>Alumni and Past Collaborators</strong>
    {% include people.html people=site.data.people.alum %}
  </div>
</div>

</body>


<link rel="stylesheet" type="text/css" href="./files/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="./files/css/style.css" />
<link rel="stylesheet" type="text/css" href="./files/css/fonts.css" />

<script src="./files/js/jquery.js"></script>
<script src="./files/js/handlebars.js"></script>
<script src="./files/js/underscore.js"></script>
<script src="./files/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.13/webcomponents-lite.min.js"></script> 



<!--
<link rel="stylesheet" type="text/css" href="{{ "./files/css/bootstrap.min.css" | relative_url }}" />
<link rel="stylesheet" type="text/css" href="{{ "./files/css/style.css" | relative_url }}" />
<link rel="stylesheet" type="text/css" href="{{ "./files/css/fonts.css" | relative_url }}" />

<script src="{{ "./files/js/jquery.js" | relative_url }}"></script>
<script src="{{ "./files/js/handlebars.js" | relative_url }}"></script>
<script src="{{ "./files/js/underscore.js" | relative_url }}"></script>
<script src="{{ "./files/js/bootstrap.min.js" | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.13/webcomponents-lite.min.js"></script> 
-->


<script>
</script>

